:root {
  font-size: 62.5%;

  /* cores */
  --bg-color: #040924;
  --bg-card: #ffffff;
  --fc-title: #0c3440;

  --bg-input: rgba(220, 226, 233, 1);
  --ot-input: #02799d;
  --bd-input: rgba(73, 80, 87, 0.3);
  --fc-input: #212529;
  --fc-label: #00453a;
  --fc-placeholder: rgba(73, 80, 87, 0.3);

  --bg-button: #02799d;
  --fc-button: #ffffff;
  --bg-button-hover: #04536b;

  --bg-error: #f03e3e;
  --fc-error: #ffffff;

  --bg-modal: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

body,
input,
button {
  font-size: 1.6rem;
  line-height: 2rem;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
  padding: 1.6rem;
}

.card {
  padding: 4.8rem 6.4rem 6.4rem;
  background-color: var(--bg-card);
  max-width: 42.8rem;
  margin-inline: auto;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.title {
  color: var(--fc-title);
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
}

form h1 {
  margin-bottom: 3.2rem;
}

form label {
  color: var(--fc-label);

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
  display: block;
}

form input {
  width: 100%;
  border: 1px solid var(--bd-input);
  background: var(--bg-input);
  padding: 1.6rem;
  border-radius: 0.4rem;
  color: var(--fc-input);
}

form input:focus {
  outline: 2px solid var(--ot-input);
}

form input::placeholder {
  color: var(--fc-placeholder);
}

.input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}

form button {
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 100%;

  border-radius: 0.4rem;
  border: none;
  background-color: var(--bg-button);
  color: var(--fc-button);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  font-weight: bold;

  cursor: pointer;

  transition: background 0.3s;
}

form button:hover {
  background: var(--bg-button-hover);
}

/* modal */
.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  position: absolute;
  inset: 0;
  background: var(--bg-modal);

  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
}

.modal button {
  background: none;
  border: none;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  cursor: pointer;

  transition: transform 0.3s;
}

.modal button:hover {
  transform: scale(1.1);
}

/* alert error */
.alert-error.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.alert-error {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  text-align: center;
  font-weight: 700;

  padding: 0.8rem 0;

  background-color: var(--bg-error);
  color: var(--fc-error);

  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform 0.5s;
}

@media (max-width: 390px) {
  .card {
    padding: 2.4rem 3.2rem 3.2rem;
  }
}
