* {
  box-sizing: border-box;
}

:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
}

body {
  background-color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body.dark {
  background: var(--dark);
}

img{
    width: 20px;
    height: 20px;
}
